@import '../../../utils/scss/general_style';

.dynamic,
.noDynamic {
    box-sizing: border-box;
}

.noDynamic {
    @include dim(100dvw, 100dvh);
}

.dynamic {
    @include dim(100dvw, auto);
    min-height: 100dvh;
}

.withPaddingSide {
    padding: 0 2 * navbarMarginBottom('desktop');

    @include phone {
        padding: 0 navbarMarginBottom('phone');
    }
}

.withPaddingTop {
    padding-top: navbarMarginBottom('desktop') + 4rem;

    @include phone {
        padding-top: navbarMarginBottom('phone') + 2rem;
    }
}

.withPaddingBottom {
    padding-bottom: navbarMarginBottom('desktop') * 2 + $navbar-height;

    @include phone {
        padding-bottom: navbarMarginBottom('phone')* 2 + $navbar-height;
    }
}

.fadeViewport {
    transition: opacity 2s, filter 1s;

    >* {
        transition: scale 1s;
        transform-origin: center top;
    }


    &.showViewport {
        opacity: 1;
        filter: blur(0);

        >* {
            scale: 1;
        }
    }

    &.hideViewport {
        opacity: 0;
        filter: blur(3rem);

        >* {
            scale: 1.2;
        }
    }
}