@import '../../../utils/scss/general_style';

.dynamic,
.noDynamic {
    box-sizing: border-box;
}

.noDynamic {
    @include dim(100dvw, 100dvh);
}

.dynamic {
    @include dim(100dvw, auto);
    min-height: 100dvh;
}

.withPaddingSide {
    padding: 0 2 * viewportPadding('side', 'desktop');

    @include phone {
        padding: 0 2 * viewportPadding('side', 'phone');
    }
}

.withPaddingTop {
    padding-top: viewportPadding('top', 'desktop');

    @include phone {
        padding-top: viewportPadding('top', 'phone');
    }
}

.withPaddingBottom {
    padding-bottom: viewportPadding('bottom', 'desktop');

    @include phone {
        padding-bottom: viewportPadding('bottom', 'phone');
    }
}

.fadeViewport {
    transition: opacity 2s, filter 1s;

    >* {
        transition: scale 1s;
        transform-origin: center top;
    }


    &.showViewport {
        opacity: 1;
        filter: blur(0);

        >* {
            scale: 1;
        }
    }

    &.hideViewport {
        opacity: 0;
        filter: blur(3rem);

        >* {
            scale: 1.2;
        }
    }
}