.myRolesHeadings{
    display: inline-block;
    
    background: -webkit-linear-gradient(0deg, white var(--myRoles-percentage), var(--verde-agua) var(--myRoles-percentage), var(--azul-eletrico) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}