#myRolesDiv {
    position: relative;
    display: inline-block;

    overflow: hidden;
}


.myRolesHeadings {
    display: block;

    text-wrap: nowrap;

    background: -webkit-linear-gradient(0deg, white var(--myRoles-percentage), var(--verde-agua) var(--myRoles-percentage), var(--azul-eletrico) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &.myRolesNext {
        position: absolute;
        top: -100%;
        left: 0;

        background: -webkit-linear-gradient(0deg, var(--verde-agua) 0%, var(--azul-eletrico) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }



    &.myRolesAnimationDown {
        transition: 300ms translate;
        translate: 0 100%;

        &:not(.myRolesNext) {
            transition: 300ms translate, 150ms opacity;
            opacity: 0;
        }
    }
}