@import '../../../utils/scss/general_style';

.gradientSpan {
    background: linear-gradient(135deg, azulEletrico(), verdeAgua());
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}