@import '../../../utils/scss/general_style';

#indexHero {
    @include flex($jc: center, $al: center);

    @include phone {
        align-items: flex-start;
    }

    >div {
        @include phone {
            margin: 1rem;
        }

        @include small-phone {
            margin: 0;
        }

        >h2 {
            @include phone {
                text-align: left;
            }
        }
    }
}