#hamb{
  width: 25px; aspect-ratio: 12 / 10;
  > line{
    stroke: white;
    stroke-width: 16;
  }
  
  transition: all 150ms;


  
  &:hover{
    transform: scaleX(1.2);
    > line{
      stroke-width: 20;
    }
  }
}