@import '../../../../../utils/scss/general_style.scss';

.notActive {
    transition: opacity 150ms;

    &:hover {
        opacity: 0.6;
    }
}


.active {
    &:hover>span:last-of-type {
        opacity: 1;
    }

    >span {
        &:last-of-type {
            opacity: 0;
            transition: opacity 300ms;
        }

        &:first-of-type {
            font-weight: 700;

            @keyframes aura {

                0%,
                100% {
                    @include auraFrame(0, 0, 20px,
                        20px, 10px, 10px,
                        -10px, -40px, 12px);
                }

                30% {
                    @include auraFrame(5px, -3px, 15px,
                        30px, -20px, 16px,
                        16px, 30px, 20px);
                }

                70% {
                    @include auraFrame(-5px, 7px, 8px,
                        -14px, 34px, 22px,
                        30px, -24px, 12px);
                }
            }


            animation: aura 4s infinite linear;
        }
    }
}