@for $i from 1 to 7 {
    h#{$i} {
        font-family: var(--font-syne);
    }
}

h1 {
    font-variation-settings: "wght" 770, "GRAD" 88;
    font-size: 4.5em;
}

h2 {
    font-weight: 500;
    font-size: 4.5em;
}

h5 {
    font-weight: 700;
    font-size: 1rem;
}