@import './functions.scss';

@mixin flex($dir : column, $al : flex-start, $jc: flex-start, $gap: 0) {
    display: flex;
    flex-direction: $dir;
    align-items: $al;
    justify-content: $jc;
    gap: $gap;
}

@mixin grid($cols: 2, $rows: 2, $gap: 0) {
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    grid-template-rows: repeat($rows, 1fr);
    gap: $gap;
}

@mixin dim($width: auto, $height: auto) {
    width: $width;
    height: $height;
}

@mixin pos($x: 0, $y: 0, $isLeft: true, $isTop: true) {
    #{if($isLeft, 'left', 'right')}: $x;
    #{if($isTop, 'top', 'bottom')}: $y;
}

@mixin absoluteCentered() {
    position: absolute;
    @include pos($x: 50%, $y: 50%);
    translate: -50% -50%;
}

@mixin glassCard($borderRadius: 0) {
    $halfWhite: rgba(255, 255, 255, 0.5);
    border-radius: $borderRadius;
    border-right: 1px solid $halfWhite;
    border-bottom: 1px solid $halfWhite;

    background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 100%);
    backdrop-filter: blur(5rem);
}

@mixin auraFrame($wx, $wy, $wb,
    $ax, $ay, $ab,
    $vx, $vy, $vb ) {
    filter:
        drop-shadow(white $wx $wy $wb) drop-shadow($background 0 0 6px) drop-shadow(azulEletrico() $ax $ay $ab) drop-shadow(verdeAgua() $vx $vy $vb);
}

@mixin auraFrameAlpha($wx, $wy, $wb, $w_alpha,
    $ax, $ay, $ab, $a_alpha,
    $vx, $vy, $vb, $v_alpha ) {
    filter:
        drop-shadow(rgba(255, 255, 255, $w_alpha) $wx $wy $wb) drop-shadow($background 0 0 6px) drop-shadow(azulEletrico($a_alpha) $ax $ay $ab) drop-shadow(verdeAgua($v_alpha) $vx $vy $vb);
}