@mixin flex($dir : column, $al : flex-start, $jc: flex-start, $gap: 0) {
    display: flex;
    flex-direction: $dir;
    align-items: $al;
    justify-content: $jc;
    gap: $gap;
}

@mixin dim($width: auto, $height: auto) {
    width: $width;
    height: $height;
}

@mixin pos($x: 0, $y: 0, $isLeft: true, $isTop: true) {
    @if ($isLeft) {
        left: $x;
    }

    @else {
        right: $x;
    }

    @if ($isTop) {
        top: $y;
    }

    @else {
        bottom: $y;
    }
}

@mixin absoluteCentered() {
    position: absolute;
    @include pos($x: 50%, $y: 50%);
    translate: -50% -50%;
}

@mixin glassCard($borderRadius: 0) {
    $halfWhite: rgba(255, 255, 255, 0.5);
    border-radius: $borderRadius;
    border-right: 1px solid $halfWhite;
    border-bottom: 1px solid $halfWhite;

    background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 100%);
    backdrop-filter: blur(5rem);
}