@import './media_query.scss';
@import './functions.scss';

@for $i from 1 to 7 {
    h#{$i} {
        font-family: var(--font-syne);
        text-align: center;
    }
}

h1 {
    font-variation-settings: "wght" headingWeight(1), "GRAD" 88;
    font-size: headingSize(1, 'desktop');
}

h2 {
    font-weight: headingWeight(2);
    font-size: headingSize(2, 'desktop');

    @include small-desktop {
        font-size: headingSize(2, 'small-desktop');
    }

    @include small-phone {
        font-size: headingSize(2, 'small-phone');
    }
}

h3 {
    font-weight: headingWeight(3);
    font-size: headingSize(3, 'desktop');
}

h5 {
    font-weight: headingWeight(5);
    font-size: headingSize(5, 'desktop');

    @include phone {
        font-size: headingSize(5, 'phone');
    }
}

p {
    font-weight: 500;
    font-size: 2.75rem;

    @include big-desktop {
        font-size: 3.125rem;
    }

    @include small-desktop {
        font-size: 2.25rem;
    }

    @include phone {
        font-size: 1.5rem;
    }
}