@import './media_query.scss';
@import './functions.scss';

h1 {
    font-variation-settings: "wght" headingWeight(1);
    font-size: headingSize(1, 'desktop');
}

@for $i from 2 to 7 {
    h#{$i} {
        font-family: var(--font-syne);
        text-align: center;
        font-size: headingSize($i, 'desktop');

        @include big-desktop {
            font-size: headingSize($i, 'desktop');
        }

        @include small-desktop {
            font-size: headingSize($i, 'small-desktop');
        }

        @include tablet {
            font-size: headingSize($i, 'tablet');
        }

        @include phone {
            font-size: headingSize($i, 'phone');
        }

        @include small-phone {
            font-size: headingSize($i, 'small-phone');
        }

        font-variation-settings: 'wght' headingWeight($i);

        @supports(font-variation-settings: normal) {
            font-weight: headingWeight($i);
        }
    }
}

p {
    font-weight: 500;
    font-size: 2.75rem;

    @include big-desktop {
        font-size: 3.125rem;
    }

    @include small-desktop {
        font-size: 2.25rem;
    }

    @include phone {
        font-size: 1.75rem;
    }

    @include small-phone {
        font-size: 1.5rem;
    }
}