@import '../../../utils/scss/general_style';

#indexMission {
    overflow: hidden;

    >section {
        @include dim(100%, 100%);

        >section {
            @include dim(100%, 100%);
            position: sticky;
            @include pos(0, 0);

            >h2 {
                text-align: left;
            }

            >section {
                position: absolute;
                @include pos(0, 50%, $isLeft: false);
                translate: 0 calc(-50% - (navbarMarginBottom('desktop') + 4rem));

                >p {
                    text-align: right;

                    >span {
                        display: inline-block
                    }
                }
            }
        }

        >div {
            @include dim(100%, 250%);
        }
    }
}