@import '../../../utils/scss/general_style';

#indexMission {
    overflow: hidden;

    >section {
        @include dim(100%, 100%);

        >section {
            @include dim(100%, 100%);
            position: sticky;
            @include pos(0, 0);
            @include flex(column, flex-start, flex-start, 5rem);

            @include tablet() {
                @include flex(column, center, flex-start, 5rem);
            }

            >h2 {
                text-align: left;
                margin: viewportPadding('top', 'desktop') 0 0 viewportPadding('side', 'desktop');

                @include phone {
                    margin: viewportPadding('top', 'phone') 0 0 0;
                }
            }

            >section {
                position: absolute;
                @include pos(0, 50%, $isLeft: false);
                translate: 0 calc(-50% - (navbarMarginBottom('desktop')));

                >p {
                    text-align: right;
                    margin-right: viewportPadding('side', 'desktop');

                    @include tablet() {
                        text-align: center;
                    }

                    >span {
                        display: inline-block
                    }
                }
            }
        }

        >div {
            @include dim(100%, 250%);
        }
    }
}