@import '../../../utils/scss/general_style';

#indexMission {
    >section {
        @include dim(100%, 100%);

        >h2 {
            position: sticky;
            @include pos(0, 0);
            text-align: left;
        }

        >section {
            position: sticky;
            @include pos(0, 6rem);

            p {
                text-align: right;
            }
        }

        >div {
            @include dim(100%, 200%);
        }
    }
}