@import '../../../utils/scss/general_style';

.nav {
  height: $navbar-height;
  position: fixed;
  @include pos($x: 50%, $y: 0, $isTop: false);
  margin-bottom: $navbar-margin-bottom;

  @include phone {
    margin-bottom: $navbar-small-margin-bottom;
  }

  @include flex(row, center, center);
  @include glassCard(0.75rem);
  z-index: 1000;
  overflow: hidden;

  translate: -50% 0;
  opacity: 0.5;
  transition: all 150ms;

  &:hover {
    translate: -50% 0;
    opacity: 1;
  }

  //

  @mixin transitions() {
    transition: width 300ms, opacity 300ms;
  }

  >* {
    height: 100%;
  }

  >div {
    flex-grow: 1;
    width: $navbar-height;

    @include flex(row, center, center);
    @include transitions();
  }

  >ul {
    @include flex(row, unset, unset);
    overflow: hidden;

    @include transitions();

    $marginRightNav: 1rem;

    >li {
      position: relative;
      width: $navbar-height;
      margin-right: $marginRightNav;

      >a {
        display: block;
        position: relative;
        @include dim(100%, 100%);

        >span {
          @include absoluteCentered();
        }
      }
    }
  }
}


.r {
  cursor: pointer;
  font-family: var(--font-syne);
  $time: 300ms;


  animation: hoverRback $time forwards ease-in-out;
  font-size: 1.6em;

  &:hover {
    animation: hoverR $time forwards ease-in-out;
  }

  @keyframes hoverRback {
    0% {
      font-variation-settings: "wght" 800, "GRAD" 88;
    }

    100% {
      font-variation-settings: "wght" 740, "GRAD" 88;
    }
  }

  @keyframes hoverR {
    0% {
      font-variation-settings: "wght" 740, "GRAD" 88;
    }

    100% {
      font-variation-settings: "wght" 800, "GRAD" 88;
    }
  }
}