@import '../../../utils/scss/__general_imports';

#blurDiv {
    @include dim(100dvw, 100dvh);
    position: absolute;
    z-index: -1;

    filter: blur(20em);

    >div {
        position: absolute;
        border-radius: 50%;
        width: 20rem;
        aspect-ratio: 1 / 1;
    }
}